# **Video Game Stats Analysis**
## Student : Tariq Sharaia
## Date : 15-Nov-2021

In [34]:
import pandas as pd

vg_sales_file = "kaggle_data/vgsales.csv"
data = pd.read_csv(vg_sales_file)

## Which company is the most common video game publisher?

In [35]:
most_videoGame_publisher = data["Publisher"].value_counts().idxmax()
most_videoGame_publisher

'Electronic Arts'

## What’s the most common platform?

In [36]:
most_common_platform = data["Platform"].value_counts().idxmax()
most_common_platform

'DS'

## What about the most common genre?

In [37]:
most_common_genre = data["Genre"].value_counts().idxmax()
most_common_genre

'Action'

## What are the top 20 highest grossing games?

In [38]:
top_twenty_grossing_games = data[["Name","Global_Sales"]][0:20]
top_twenty_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## For North American video game sales, what’s the median?

In [39]:
north_america_median_sales = data["NA_Sales"].mean()/data["NA_Sales"].std()
north_america_median_sales

0.32407607396719995

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [40]:
mean_na= data['NA_Sales'].mean()
data_row= data['NA_Sales'].iloc[0]
std_NA= data['NA_Sales'].std()
na_std= ((data_row-mean_na)/std_NA)
na_std

50.47898767479108

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [41]:
nintendo_wii = data.groupby(data["Platform"] == "Wii")["Global_Sales"].mean()
num_of_sales =(nintendo_wii[0],nintendo_wii[1])
num_of_sales

(0.5233896418516336, 0.6994037735849057)

## What is the least sold game ?

In [52]:
least_sold_game = data[["Name","Global_Sales"]].sort_values("Global_Sales",ascending=True)[:1]
least_sold_game
print(least_sold_game.iloc[0].Name)

Spirits & Spells

## What is the last sold game ?

In [43]:
last_sold_game = data[["Name","Year"]].sort_values("Year",ascending=False)[:1]
last_sold_game

                        Name    Year
5957  Imagine: Makeup Artist  2020.0

## What is the minimum saled in North America ?

In [44]:
na_min_sales = data ["NA_Sales"].min()
na_min_sales

0.0

In [53]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(str(most_videoGame_publisher), "Electronic Arts")
    assert_equal(most_common_platform , "DS")
    assert_equal(most_common_genre, "Action")
    assert_equal(top_twenty_grossing_games.iloc[0].Name, "Wii Sports")
    assert_equal(top_twenty_grossing_games.iloc[19].Name, "Brain Age: Train Your Brain in Minutes a Day")
    assert_equal(north_america_median_sales, 0.32407607396719995)
    assert_equal(na_std, 50.47898767479108)
    assert_equal(least_sold_game.iloc[0].Name, "Spirits & Spells")
    assert_equal(last_sold_game.iloc[0].Name, "Imagine: Makeup Artist")
    assert_equal(na_min_sales, 0.0)
    assert_equal(num_of_sales[0], 0.5233896418516336)
    assert_equal(num_of_sales[1], 0.6994037735849057)



    print("Success!!!")
test()

Success!!!